<div class="footer-head">
    <div class="row">
        <div class="bottom-clis col-md-4 flex-center-vertical">
            <h2>Cyber Law and Information Security</h2>
        </div>
        <div class="nav-links-again flex-row-center  col-md-8">
            <a href="{% url 'academics' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">Academics</div>
            </a>
            <a href="{% url 'research' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">Research</div>
            </a>
            <a href="{% url 'people' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">People</div>
            </a>
            <a href="{% url 'happenings' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">Happenings</div>
            </a>
            <a href="{% url 'labs' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">Labs</div>
            </a>
            <a href="{% url 'placements' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">Placements</div>
            </a>
            <a href="{% url 'opportunities' %}" class="bottom-nav-item">
                <div class="bottom-item-text flex-center-vertical">Opportunities</div>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="departments col-md-6">
            <h3>Departments</h3>
            <div class="row">
                <div class="col-md-4">
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                </div>
                <div class="col-md-4">
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                </div>
                <div class="col-md-4">
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                    <a href="">Lorem ipsum dolor sit amet</a><br>
                </div>
            </div>
        </div>
        <div class="college-name col-md-6">
            <img src="" alt="" class="logo">
            <div class="name">
                Indian Institute of Information Technology, Allahabad
            </div>
        </div>
    </div>
</div>
<div class="footer-note">
    <div class="copyrights">
        <p>© 2022 IIIT Allahabad - All rights reserved</p>
    </div>
    <div class="bottom-links">
        <a href="https://iiita.ac.in/" class="bottom-link-item" target="_blank">About IIITA</a>
        <a href="{% url 'contact' %}" class="bottom-link-item">Contact</a>
        <a href="" class="bottom-link-item"></a>
        <a href="" class="bottom-link-item"></a>
        <a href="" class="bottom-link-item"></a>
    </div>
</div>