<div class="top-bar-fixed">
    <div class="site-head">
        <div class="toggle-logo">
            <button type="button" class="toggler">CLIS</button>
        </div>
        <div class="site-title flex-center">
            <h3>Cyber Law and Information Security</h3>
        </div>
    </div>
    
    <div class="navbar">
        <a href="{% url 'home' %}" class="nav-item nav-item-active" id="home">
            <div class="item-text flex-center-vertical">Home</div>
            <div class="item-icon">
                <i class="fad fa-home-lg-alt"></i>
            </div>
        </a>
        <a href="{% url 'academics' %}" class="nav-item" id="academics">
            <div class="item-text flex-center-vertical">Academics</div>
            <div class="item-icon">
                <i class="fad fa-chalkboard-teacher"></i>
            </div>
        </a>
        <a href="{% url 'research' %}" class="nav-item" id="research">
            <div class="item-text flex-center-vertical">Research</div>
            <div class="item-icon">
                <i class="fad fa-analytics"></i>
            </div>
        </a>
        <a href="{% url 'people' %}" class="nav-item" id="people">
            <div class="item-text flex-center-vertical">People</div>
            <div class="item-icon">
                <i class="fad fa-users"></i>
            </div>
        </a>
        <a href="{% url 'happenings' %}" class="nav-item" id="happenings">
            <div class="item-text flex-center-vertical">Happenings</div>
            <div class="item-icon">
                <i class="fad fa-calendar-edit"></i>
            </div>
        </a>
        <a href="{% url 'labs' %}" class="nav-item" id="labs">
            <div class="item-text flex-center-vertical">Labs</div>
            <div class="item-icon">
                <i class="fad fa-network-wired"></i>
            </div>
        </a>
        <a href="{% url 'placements' %}" class="nav-item" id="placements">
            <div class="item-text flex-center-vertical">Placements</div>
            <div class="item-icon">
                <i class="fad fa-user-graduate"></i>
            </div>
        </a>
        <a href="{% url 'opportunities' %}" class="nav-item" id="opportunities">
            <div class="item-text flex-center-vertical">Opportunities</div>
            <div class="item-icon">
                <i class="fad fa-chart-network"></i>
            </div>
        </a>
        <a href="{% url 'contact' %}" class="nav-item" id="contact">
            <div class="item-text flex-center-vertical">Contact</div>
            <div class="item-icon">
                <i class="fad fa-paper-plane"></i>
            </div>
        </a>
    </div>
</div>